---
- name: Create AWS FSx for ONTAP File System
  hosts: localhost
  gather_facts: false
  tasks:
    - name: Skip creation if deletion is requested
      meta: end_play
      when: delete_resources | default(false)

    - name: Create FSx ONTAP filesystem
      include_role:
        name: fsx_ontap

- name: Delete FSx ONTAP Resources
  hosts: localhost
  gather_facts: false
  tasks:
    - name: Delete FSx ONTAP resources
      include_role:
        name: fsx_ontap
        tasks_from: delete
      when: delete_resources | default(false)
